### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
dict={'name':'om','age':'22','city':'kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [6]:
dict['name']

'om'

### 3. Create a list of 5 numbers and print the second element.

In [ ]:
lst=[1,2,3,4,5]
 print (lst[1])

### 4. Add an element "banana" to an existing list.

In [38]:
lst=[1,2,3,4,5,10]
lst.insert(4,"banana")
lst

[1, 2, 3, 4, 'banana', 5, 10]

### 5. Insert "apple" at index 2 in a list.

In [39]:
lst.insert(2,"apple")
lst

[1, 2, 'apple', 3, 4, 'banana', 5, 10]

### 6. Remove the element 10 from a list.

In [40]:
lst.remove(10)
lst

[1, 2, 'apple', 3, 4, 'banana', 5]

### 7. Create a tuple with 4 elements and print the last one.

In [47]:
tpl=(10,20,30,40)
print(tpl[3])

40

### 8. Convert a tuple into a list.

In [53]:
tpl=(1,2,3,4)
a= list(tpl)
a

[1, 2, 3, 4]

### 9. Find the length of a given tuple.

In [54]:
len(tpl)

4

### 10. Store 5 student names in a list and print them using a loop.

In [55]:
list=['om','darshan','pratik','atharva','prathmesh']
for i in list:
    print(i)

om
darshan
pratik
atharva
prathmesh

### 11. Create two lists and concatenate them.

In [56]:
lst1=[1,2,3,4]
lst2=[5,6,7,8]
print(lst1 +lst2)

[1, 2, 3, 4, 5, 6, 7, 8]

### 12. Reverse a list without using reverse().

In [57]:
a=lst1[::-1]
a

[4, 3, 2, 1]

### 13. Sort a list in descending order.

In [62]:
lst1.sort()
lst1

[1, 2, 3, 4]

### 14. Create a set with 5 numbers and add a new number.

In [64]:
st={1,2,3,4,5}
st.add(10)
st

{1, 2, 3, 4, 5, 10}

### 15. Remove an element from a set using discard().

In [66]:
st.discard(10)
st

{1, 2, 3, 4, 5}

### 16. Find the union of two sets.

In [68]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
a= set1.union(set2)
print(a)

{1, 2, 3, 4, 5}

### 17. Find the intersection of two sets.

In [70]:
set1 = {1, 2, 3,4}
set2 = {3, 4, 5}
b=set1.intersection(set2)
b

{3, 4}

### 18. Check if a value exists in a set.

In [71]:
st1={1,2,3,4,5}
1 in st1

True

### 19. Create a set and clear all elements.

In [73]:
st1={1,2,3,4,5}
st1.clear()
st1

set()

### 20. Convert a list with duplicate values into a set.

In [74]:
lst=[1,2,2,3,4,4,5]
st=set(lst)
st

{1, 2, 3, 4, 5}

### 21. Create a dictionary and update the value of a key.

In [86]:
dict={'name':'om','age': 22}
dict.update({'age':23})
dict

{'name': 'om', 'age': 23}

### 22. Delete a key-value pair from a dictionary.

In [87]:
dict.pop('age')
dict

{'name': 'om'}

### 23. Print all keys of a dictionary.

In [88]:
dict.keys()

dict_keys(['name'])

### 24. Print all values of a dictionary.

In [89]:
dict.values()

dict_values(['om'])

### 25. Loop through a dictionary and print key and value.

In [97]:
for key,value in dict.items():
    print(key ,':', value)

name : om

### 26. Create a list of numbers and print only even numbers.

In [109]:
lst=[1,2,3,4,5,6,7,8,9,10]
for no in lst:
    if no % 2==0:
        print(no)

2
4
6
8
10

### 27. Create a tuple and unpack it into 3 variables.

In [115]:
tpl=(1,2,3,)
a, b, c =tpl
print(a)
print(b)
print(c)

1
2
3

### 28. Check if a number is greater than 10 using a comparison operator.

In [124]:
lst=[5,6,7,10,20,30,40]
for i in lst:
    if i>10:
      print(i)
else:
    0

20
30
40

### 29. Use the in operator to check if "python" exists in a list.

In [142]:
lst=['java','python','c']

if 'pyhton' in lst:
      
      print('true')

### 30. Use the and operator in a condition.

In [141]:
lst=['java','python','c']

if 'pyhton' and 'c' in lst:
      
      print('true')

true

### 31. Use the % operator to check if a number is divisible by 5.

In [ ]:
a=5
if a % 5==0:
    print("yes")

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [12]:
print(2**5)

32

### 33. Create two numbers and compare them using >=.

In [13]:
a=5
b=6
a>=b

False

### 34. Create a list and remove the last element using pop().

In [15]:
lst=[1,2,3,4,5]
lst.pop()

5

### 35. Create a list and print its first and last elements.

In [23]:
lst=[1,2,3,4,5]
print(lst[0],lst[4])
lst

1 5

[1, 2, 3, 4, 5]

### 36. Count how many times "apple" appears in a list.

In [24]:
lst=['apple','apple','banana','orange']
lst.count('apple')

2

### 37. Create a tuple and check if a value exists using in.

In [ ]:
tpl=(10,20,30,40,50)
if 20 in tpl:
    print('yes')

yes

### 38. Convert a dictionaryâ€™s keys into a list.

In [34]:
dict={'city':'pune','area':'talegaon'}
lst=list(dict)
lst

['city', 'area']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [38]:
dict={'name':'om','marks':'80','subject':{'math','english'}}

### 40. Merge two dictionaries into one.

In [40]:
dict={'city':'pune','area':'talegaon'}
dict1={'name':'om','marks':'80','subject':{'math','english'}}
dict.update(dict1)
dict

{'city': 'pune',
 'area': 'talegaon',
 'name': 'om',
 'marks': '80',
 'subject': {'english', 'math'}}

### 41. Create a set and print the number of elements.

In [44]:
st={1,2,3,4,5}
for i in range(len(st)):
       print(i)

0
1
2
3
4

### 42. Create a dictionary and print all items using items().

In [45]:
dict1={'name':'om','marks':'80','subject':{'math','english'}}
dict1.items()

dict_items([('name', 'om'), ('marks', '80'), ('subject', {'english', 'math'})])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [49]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(lst)):
       print(i , i**2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

### 44. Multiply two numbers and print the result using *.

In [ ]:
a=30
b=40
print(a*b)

1200

### 45. Divide two numbers and print the results using / and //.

In [53]:
a=30
b=5
print(a/b)
print(a//b)

6.0
6

### 46. Create a list and replace the element at index 1.

In [155]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst[1]=40
lst

[1, 40, 3, 4, 5, 6, 7, 8, 9, 10]

### 47. Create a tuple from user input (3 values).

In [ ]:
variable = int(input("Enter a value: "))
print(variable)

TypeError: 'tuple' object is not callable

### 48. Create a set from a string and print all unique characters.

In [ ]:
str={'1','2','2','2','4','4','3','5'}
st=set(str)
st

{'1', '2', '3', '4', '5'}

### 49. Use the is operator to compare two variables.

In [79]:
a=20
b=30
a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [80]:
dict1={'name':'om','marks':'80','subject':{'math','english'}}
if 'name' in dict:
    print('yes')

yes

### 51. Write a program to check if a number is between 10 and 50 using and.

In [89]:
a=40
a>10 and a<50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [90]:
a=40
a<=5 or a>=20

True

### 53. Use not to check if a list is not empty.

In [93]:
lst = [1, 2, 3]

if not lst:
    print("List is empty")
else:
    print("List is NOT empty")

List is NOT empty

### 54. Write code to check if a character is a vowel using or.

In [104]:
a="ommane"
vowels="aeiou"
for i in a:
    if (i in vowels):
           print(i,'it is vowel')
    else:
        print(i,'not wovel')

o it is vowel
m not wovel
m not wovel
a it is vowel
n not wovel
e it is vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [105]:
dict={'name':'daddya','age':22}
if 'name' and 'age' in dict:
    print('yes')

yes

### 56. Verify if a set contains either 10 or 20.

In [106]:
st={10,20,30,40,50}
if 10 or 20 in st:
    print('yes')

yes

### 57. Use not to check if a number is not equal to 100.

In [107]:
a=100
a!= 100

False

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [110]:
marks=50
att=80
if marks>35 and att>75:
    print('passed')

passed

### 59. Use logical operators to check if a number is positive and even.

In [116]:
a=24
a>0 and a %2 == 0

True

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [145]:
tpl=(1,2,3,4)
if len(tpl)>3 or 0 in tpl:
    print ('yes')
else:
     print ('no')

yes