# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [3]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a

{'name': 'om', 'age': '30', 'city': 'mumbai'}

2. Create a dictionary and print the value of a specific key.

In [8]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.get("city")

'mumbai'

3. Make a dictionary and add a new key-value pair to it.

In [ ]:
a.update({'course':'bd'})
a

{'name': 'om', 'age': '30', 'city': 'mumbai', 'course': 'bd'}

4. Create a dictionary and change the value of an existing key.

In [13]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.update({'age':'22'})
a

{'name': 'om', 'age': '22', 'city': 'mumbai'}

5. Create a dictionary and remove one key using pop().

In [14]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.pop('name')

'om'

6. Create a dictionary and remove the last inserted item using popitem().

In [16]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.popitem()
a

{'name': 'om', 'age': '30'}

7. Create a dictionary and print all the keys.

In [17]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.keys()

dict_keys(['name', 'age', 'city'])

8. Create a dictionary and print all the values.

In [18]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.values()

dict_values(['om', '30', 'mumbai'])

9. Create a dictionary and print all the key-value items.

In [19]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.items()

dict_items([('name', 'om'), ('age', '30'), ('city', 'mumbai')])

10. Make a dictionary and check the number of items using len().

In [ ]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.__len__()

3

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [26]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
if 'age' in a:
    print("Key exists")
else:
    print("Key does not exist")

Key exists

12. Create an empty dictionary and add two key-value pairs one by one.

In [31]:
b={}
b.update({'name': 'pratik'})
b.update({'age':'23'})
b

{'name': 'pratik', 'age': '23'}

13. Create a dictionary and update one keyâ€™s value using update().

In [ ]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.update({'age':'24'})
a

{'name': 'om', 'age': '24', 'city': 'mumbai'}

14. Create two dictionaries and combine them using update().

In [37]:
b={'name': 'pratik', 'age': '23'}
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.update(b)
a

{'name': 'pratik', 'age': '23', 'city': 'mumbai'}

15. Make a dictionary and get the value of a key using get().

In [38]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.get('age')

'30'

16. Create a dictionary and print its type using type().

In [39]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
type(a)

dict

17. Create a dictionary and replace one value with a new one.

In [41]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.update({'name' :'p'})
a

{'name': 'p', 'age': '30', 'city': 'mumbai'}

18. Create a dictionary and clear all items using clear().

In [43]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
a.clear()
a

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [44]:
a={'1' :'om','2' :'pp' ,'3' :'op' }
a

{'1': 'om', '2': 'pp', '3': 'op'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [46]:
a={'name' :'om','age' :'30' ,'city' :'mumbai' }
b=a.copy()
b

{'name': 'om', 'age': '30', 'city': 'mumbai'}