### 1. Print numbers from 1 to 10 using a for loop

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [12]:

a=0
for i in range(1,21):
     if i%2==0:
          print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [6]:
a='python'
for i in a:
    print(i)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [13]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [14]:
lst=[1,2,3,4,5]
for i in lst:
    print(i)

1
2
3
4
5

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [23]:
sum=0
for i in range(1,51):
       sum+=i

print(i,sum)

50 1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [30]:
for i in range(10,0,-1):
      print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [31]:
for i in range(1,11):
    print (i*7)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [49]:
strg='eeducation'
vowels='aeiou'
count=0
for i in strg:
    if i in vowels:
         print(i)
         count+=1
print(i,count)

e
e
u
a
i
o
n 6

### 10. Print all odd numbers from 1 to 30 using a for loop

In [53]:
for i in range(1,31):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [59]:
a='AEGnngsd'
count=0
for i in a:
    if i.isupper():
        print(i)
        count+=1
print(count)

A
E
G
3

### 12. Create a new list that contains only the positive numbers from another list

In [75]:
lst=[1,2,-3,4,-6]
a=[]
for i in lst:
     if i<0:
          
          a.append(i)
print (a)

[-3, -6]

### 13. Print numbers from 1 to 10 using a while loop

In [77]:
a=1
while a<=10:
  print(a)
  a+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [80]:
i = 1

while i <= 50:
    if i % 5 == 0:
        print(i)
    i += 1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [81]:
a=10
while a>=1:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [1]:
num = int(input("Enter a number (0 to stop): "))

while num != 0:
    print("You entered:", num)
    num = int(input("Enter a number (0 to stop): "))

print("Program ended. You entered 0.")

You entered: 1
You entered: 2
You entered: 3
You entered: 3
Program ended. You entered 0.

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [3]:
a=1
count=0
while a<=10:
    count+=a
    a+=1
print(count)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [4]:
dic={'banana':'50','apple':'40','orange':'40'}
for i in dic:
    print(i)

banana
apple
orange

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [12]:
dic={'banana':'50','apple':'40','arange':'40'}
for i in dic.values():
          print(i)

50
40
40

### 20. Print both keys and values of a dictionary using a for loop

In [8]:
for i in dic.items():
    print(i)

('banana', '50')
('apple', '40')
('orange', '40')

### 21. Count how many keys are in a dictionary using a for loop

In [10]:
count=0
for i in dic:
   count+=1
print(count)

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [13]:
for i in dic:
    if i[0]=='a':
      print(i)

apple
arange

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [19]:
dic={'om':95,'bhush':80,'yash':90}
for i,d in dic.items():
    if d>=80:
        print(i)

om
bhush
yash

### 24. Given a dictionary, print the sum of all the values using a for loop

In [ ]:
count=0
for i in dic.values():
    count+=i
print(count)

265

### 25. Given a dictionary, find the key with the highest value using a for loop

In [28]:
dic = {'om':80, 'bhush':95, 'yash':90}

a = 0       
b = ""         

for i in dic:     
    if dic[i] > a:
        a = dic[i]
        b = i

print("Highest =", b, a)

Highest = bhush 95

### 26. Convert all dictionary keys into a list using a for loop

In [32]:
lst=[]
for i in dic:
    lst.append(i)
lst

['om', 'bhush', 'yash']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [33]:
dic={'yes':3,'no':2,'partialy':8}
for i in dic.items():
    print(i)

('yes', 3)
('no', 2)
('partialy', 8)

### 28. Given a list of numbers, print only numbers greater than 10

In [34]:
lst=[1,2,30,4]
for i in lst:
    if i>10:
        print(i)

30

### 29. Count how many elements in a list are integers using a for loop

In [37]:
count=0
for i in lst:
    if isinstance(i,int):
        count +=1
 
print(count)

4

### 30. Print the sum of all even numbers in a list using a for loop

In [2]:
lst=[1,2,3,4,5,6]
sum=0
for i in lst:
    if i%2==0:
        sum+=i
print(sum)

12

### 31. Print the cube of each number in a list of 5 numbers

In [3]:
lst=[1,2,3,4,5]
for i in lst:
    print(i**3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [4]:
a="python"
for i in a:
    print(i)

p
y
t
h
o
n

### 33. Print the first 5 multiples of 3 using a for loop

In [5]:
for i in range(1,16):
    if i%3==0:
        print(i)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [8]:
lst=['om','sahil','rupesh','abhi']
for i in lst:
    if i[0] =='a':
        print(i)

abhi

### 35. Find the largest number in a list using a for loop

In [9]:
lst=[1,2,3,4,60]
a=0
for i in lst:
    if i>a:
        a=i
print(i)

60

### 36. Print the index and value of each element in a list

In [12]:
lst=[1,2,3,4,5]
for i in lst:
    print(i,i.__index__())

1 1
2 2
3 3
4 4
5 5

### 37. Create a dictionary with 5 students and their marks

In [13]:
dic={'om':90,'bhush':80,'yash':85,'vish':74,'rutu':86}
type(dic)

dict

### 38. Use a for loop to print all student names

In [14]:
for i in dic:
    print(i)

om
bhush
yash
vish
rutu

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [16]:
dic={'banana':'50','apple':'40','orange':'40'}
for i,y in dic.items():
    print(i,y)

banana 50
apple 40
orange 40

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [26]:
dic={'banana':50,'apple':40,'orange':40,'coconut':70,'dragon fruit':80}
for i in dic.values():
    a=i*0.1
    i=i+a
    print(i)

55.0
44.0
44.0
77.0
88.0

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [49]:
dic={'banana':50,'apple':40,'orange':40,'coconut':70,'dragon fruit':80,'banana':50,'apple':40,'orange':40,'coconut':70,'dragon fruit':80}
for i,y in list(dic.items()):
    if dic[i] <50:
       del dic[i]
print(dic)

{'banana': 50, 'coconut': 70, 'dragon fruit': 80}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [5]:
dic={'maths':95,'english':70,'marathi':60}
a=dic.update({'science':80})
for i,y in dic.items(): 
    print(i,y)

maths 95
english 70
marathi 60
science 80

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [9]:
dic={'om':22,'karan':21,'varad':90,'raj':34}
for i in dic.values():
    i+=1
    print(i)

23
22
91
35

### 44. Print numbers from 0 to 9 using range()

In [10]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [11]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [12]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [13]:
lst=[1,2,3,4,5,6,7,9,8]
len(lst)

9

### 48. Print the length of a given string using len()

In [14]:
str="bakhfwehiuwfkfjkns ogo aer"
len(str)

26

### 49. Use range() and len() to iterate over a list by index and print each element

In [22]:
lst = [10, 20, 30, 40, 50]

for i in range(len(lst)):
    print("Index:", i, "Value:", lst[i])

Index: 0 Value: 10
Index: 1 Value: 20
Index: 2 Value: 30
Index: 3 Value: 40
Index: 4 Value: 50

### 50. Print the sum of numbers from 1 to 100 using range()

In [27]:
sum=0
for i in range(100):
    sum+=i
print("sum:",sum)

sum: 4950