### What is a function in Python?

In [10]:
A function is a something that you creat once and use many times.

SyntaxError: invalid syntax (1194855133.py, line 1)

### Write the correct syntax of a Python function.

In [ ]:
def function_name(parameters):
    # function body
    statement(s)

### What is the default return value of a function if no return statement is used?

In [ ]:
# If a Python function does not use a return statement, its default return value is None

def test():
    print("Hello")
x=test()
print(x)

Hello
None

### Define a function named hello() that prints "Hello World".

In [ ]:
def hello():
    print("Hello World")
hello()

Hello World

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
# a parameter is a variable written in the function  defination
# an argument is a actual value you pass while calling a function

def sum(a,b):
     return a+b
sum(2,3)

5

### What are positional arguments? Give an example.

In [ ]:
#Positional arguments are arguments that must be passed in the correct order to a function
def info(name,age ,gender):
    print('name:',name)
    print('age:',age)
    print('gender:',gender)

info('bot',22,'male')

name: bot
age: 22
gender: male

### What are keyword arguments? Give an example.

In [ ]:
#Keyword arguments allow you to specify which parameter you are giving a value
def info(a, b, c):
    print(a, b, c)

info(c=3, a=1, b=2)

1 2 3

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [ ]:
#default parameter is a fuction parameter which has default value if no argument is given

def greet(name, msg="Hello"):
    print(msg, name)
greet("om")

Hello om

### Write a function square(n) that returns the square of a number.

In [ ]:
def square(n):
    return n*2
square(2)

4

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [ ]:
# *args allows function to accept any numbers of possible arguments

def num(*args):
    print (*args)

num(10,22)

10 22

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [ ]:
#*kwargs allows funtion to accept any number of possible keywords arguments 
def kw(**kwargs):
    print(kwargs)
kw(a=2,b=3)

{'a': 2, 'b': 3}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [ ]:
def arith(a,b):
    print('sum=',a+b ,'mul=',a*b)
arith(1,2)
# Yes! A Python function can return multiple values
# A function can return multiple values by separating them with commas in the return statement.

sum= 3 mul= 2

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [ ]:
def even_or_odd(a):
    if a %2==0 :
        print('even:',a )
    elif a %2!=0:
        print('odd:',a )

        
even_or_odd(10)

even: 10

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [ ]:
lst=[ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]
def adapter(a):
   for i in lst:
        if i['op']== "add":
             print(i['a']+i['b'])
        elif i['op']=="mul":
                result=i['a']*i['b']
                print(result)
 
adapter(lst)

30
20

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [ ]:

def process_student(data):
  for i in data:
      add= sum( i['marks'])
      if add==240:
         grade="A"
         print('Name:', i['name'],'|','Total:' ,add,'|',"Grade:", grade)
      elif add==200:
         grade="B"
         print('Name:' ,i['name'],'|','Total:',add ,'|',"Grade:", grade)


process_student(data=[ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] )

Name: A | Total: 240 | Grade: A
Name: B | Total: 200 | Grade: B

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [ ]:
product=[ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ]
discont=0
def apply_discount(product):
    for i in product:
          if  i['discount']==10:
            discont=i['price']*i['discount'] / 100
            result=i['price']-discont
            print('Laptop final:', result)
          elif i['discount']==5:
             discont=i['price']*i['discount'] / 100
             result=i['price']-discont
             print('phone final:', result)

apply_discount(product=[ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ])

Laptop final: 45000.0
phone final: 19000.0

In [ ]:
product=[ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ]
discont=0
def apply_discount(product):
    for i in product:
            discont=i['discount']
            actual_disc=i['price']*discont / 100
            result=i['price']-actual_disc
            print(i['name'] ,'final:', result)
          

apply_discount(product=[ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ])

Laptop final: 45000.0
Phone final: 19000.0

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [30]:
employees =[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

def generate_report(employees):
     for i in employees:
          if i['salary']>50000:
               bonus='15%'
               print(i,'Bonus:',bonus)
          elif 30000< i['salary']<50000:
               bonus='10%'
               print(i,'Bonus:',bonus)
          elif i['salary']<30000:
               bonus='5%'
               print(i,'Bonus:',bonus)
          
generate_report(employees)

{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000} Bonus: 15%
{'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 40000} Bonus: 10%
{'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000} Bonus: 15%
{'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000} Bonus: 15%
{'id': 105, 'name': 'Vijay', 'age': 35, 'department': 'Admin', 'salary': 35000} Bonus: 10%

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [31]:

lst=[]
def get_employees_name(empl_list):
    for i in empl_list:
        lst.append(i['name'])
    print(lst)

get_employees_name(employees)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [33]:
def filter_by_department(empl_list,dept):
    for i in empl_list:
       print('ID:' ,i['id'],'|','NAME:',i['name'] ,'|','employee is of department:',i['department'])

filter_by_department(employees,dept=0)

ID: 101 | NAME: Amit | employee is of department: IT
ID: 102 | NAME: Neha | employee is of department: HR
ID: 103 | NAME: Raj | employee is of department: Finance
ID: 104 | NAME: Simran | employee is of department: IT
ID: 105 | NAME: Vijay | employee is of department: Admin

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [34]:

def highest_salary(emp_list):
     
    for i in emp_list:
        a=employees[0]                    
        if i['salary'] > a['salary']:
             a=i['salary']

    print(a)


highest_salary(employees )

{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000}

### Write a function average_salary(emp_list) that returns the average salary.

In [35]:

def average_salary(emp_list):
    avg=0
    sum=0
    for i in emp_list:
        sum+=i['salary'] 
    avg=sum / len(i)
    print(avg)

average_salary(employees )

51000.0

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [36]:
def salary_hike(emp_list,percent):
    percent=0
    act_salary=0
    for i in emp_list:
        if i['salary']> 30000:
            percent=i['salary']*10/100
            act_salary=i['salary']+percent
        if 30000<i['salary']< 40000:
            percent=i['salary']*20/100  
            act_salary=i['salary']+percent  
        if 40000<i['salary']:
            percent=i['salary']*30/100    
            act_salary=i['salary']+percent
        print(i,act_salary)    

salary_hike(employees,percent=0)

{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 55000} 71500.0
{'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 40000} 44000.0
{'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 65000} 84500.0
{'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 60000} 78000.0
{'id': 105, 'name': 'Vijay', 'age': 35, 'department': 'Admin', 'salary': 35000} 42000.0

### Write out_of_stock(items) that returns all products with stock < 20.

In [ ]:
products = [
    {"name": "Pen",'price':50000, "stock": 50},
    {"name": "Notebook",'price':55000, "stock": 15},
    {"name": "Pencil",'price':40000, "stock": 8},
    {"name": "Eraser", 'price':60000,"stock": 25}
    {"name": "Pen",'price':40000, "stock": 30}
]


def out_of_stock(items):
    result = []                   
    
    for item in items:
        if item["stock"] < 20:
            result.append(item)
    
    return result

out_of_stock(products)

[{'name': 'Notebook', 'price': 55000, 'stock': 15},
 {'name': 'Pencil', 'price': 40000, 'stock': 8}]

### Write total_inventory_value(items) → sum(price * stock).

In [28]:
def total_inventory_value(items):
    total=0
    for i in items:
         total += i["price"] * i["stock"]
    return total

total_inventory_value(products)

5145000

### Write search_product(items, name) → return matching product(s).

In [41]:
def search_product(items,name):
    
    for i in items:
        same_name=i['name']
        if i['name']==same_name:
          return same_name , i['name']
        
search_product(products,name=0)

('Pen', 'Pen')