# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [6]:
lst=[[1,2,3], [4,5], [6,7,8,9]]
for i in lst:
    for y in i:
        print(y)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [7]:
lst=[[10,20], [30], [5, 7, 8]] 
sum=0
for i in lst:
    for y in i:
        sum+=y
print(sum)

80

## **3. Count how many even numbers are present in a nested list.**

In [10]:
lst=[[10,20], [30], [5, 7, 8]] 
count=0
for i in lst:
    for y in i:
        if y%2==0:
            count+=1
print(count)

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [16]:
lst=[['hello', 'world'], ['python']]
for i in range(len(lst)):
    for y in range(len(lst[i])):
        lst[i][y]=lst[i][y].upper()
        

print(lst)

[['HELLO', 'WORLD'], ['PYTHON']]

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [17]:
lst=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]


for i in lst:
    count=0
for j in lst[0]:
        count+=j
        lst[0]=count
for j in lst[1]:
        count+=j
        lst[1]=count
for j in lst[2]:
        count+=j
        lst[2]=count
print('student1', lst[0],'student2',lst[1],'student3',lst[2])

student1 255 student2 465 student3 724

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [25]:
lst=[[80, 35, 40], [75, 70, 20], [88, 25, 79]]
lst1=[]
for i in lst:
    for j in i:
        if j >50:
            pass
            lst1.append(j)
print(lst1)

[80, 75, 70, 88, 79]

## **7. Find the largest number inside a nested list.**

In [101]:
lst=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]

for i in lst:
    a=0
    for j in i:
        if j > a :
            a=j
print(a)

92

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [30]:
lst=[[1,2], [3,4], [5]]
a=[]
for i in lst:
    for j in i:
        a.append(j)
print(a)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [ ]:
lst=[[1,-2], [3,4], [-5]] 
for i in range(len(lst)):
    for j in range(len(lst[i])) :
      if lst[i][j]<0:
       lst[i][j]=0
print(lst)

[[1, 0], [3, 4], [0]]

## **10. Count how many inner lists exist inside a nested list.**

In [53]:
lst=[[1,-2], [3,4], [-5]] 
for i in lst:
    count=len(lst)
print(count)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

In [1]:
students = {
    'A': {'age': 15, 'grade': 10},
    'B': {'age': 16, 'grade': 11}
}

for name, info in students.items():
    print("Name:", name, " Age:", info['age'])

Name: A  Age: 15
Name: B  Age: 16

In [6]:
for name,item in students.items():
    print(name, item["age"])

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [71]:
students = {
    'A': {'age': 15, 'grade': 10},
    'B': {'age': 16, 'grade': 11}
}
for name, info in students.items():
    info['grade']+=5
print(students)

{'A': {'age': 15, 'grade': 15}, 'B': {'age': 16, 'grade': 16}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [8]:
for i,y in students.items():
    for k in y:
        print(k)

age
grade
age
grade

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [80]:
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
for i,y in dic.items():
    for k in y.items():
        if y['math']>80:
          print(i,y)
        else:
           exit

A {'math': 85, 'science': 90}
A {'math': 85, 'science': 90}

In [11]:
dic={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
cont=0
for i,y in dic.items():
    if y['math']>80:
        cont+=1
print(cont)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [19]:
s = {
    'A': {'age': 15, 'grade': 10},
    'B': {'age': 16, 'grade': 11}
}
dic1={}
for i,y in s.items():
    for k in y.items():
        if y['age']>15:
        
          dic1=i,y
dic1=dict(dic1)
type(dic1)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

## **16. Find which student scored highest in science.**

In [100]:
dic = {
    'A': {'math': 85, 'science': 88},
    'B': {'math': 70, 'science': 90}
}

highest = 0
top_student = ""

for name, info in dic.items():
    if info['science'] > highest:
        highest = info['science']
        top_student = name

print("Highest science score =", highest, "by student", top_student)

Highest science score = 90 by student B

## **17. Print employees who belong to the HR department from this dictionary.**

## **18. Delete all entries where the status is 'inactive'.**

In [ ]:
# Write your answer here

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [ ]:
# Write your answer here

## **20. Convert all inner dictionary keys to uppercase.**

In [ ]:
# Write your answer here